<h1>导航分类</h1>

<table>
  <tr>
    <th>导航名称</th>
    <th>深度</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.depth %></td>
    <td><%= link_to '显示', category %></td>
    <td><%= link_to '修改', edit_category_path(category) %></td>
    <td><%= link_to '删除', category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
